table {
  width: 95% !important;
  border: 0px !important;
  margin-left: 38px !important;
  margin-right: 10px !important;
}


.open > .dropdown-menu {
  right: 0;
  left:inherit;
}

.recharts-wrapper {
    margin : 0 auto;
    margin-top: 50px;
  }